<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxt="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描 service 包中所使用注解的类-->
    <contxt:component-scan base-package="com.oukele.serviceImp"/>


    <!--加载jdbc资源文件-->
    <contxt:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--加载数据库驱动-->
        <property name="driverClass" value="${jdbc.driver}"/>
        <!--连接的数据库字符串-->
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <!--账号、密码-->
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置mybatis-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--实例化数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--加载mybatis的配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--映射mapper文件-->
        <property name="mapperLocations" value="classpath:Mapper/*.xml"/>
    </bean>

    <!--简化调用-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--加载使用的接口 -->
        <property name="basePackage" value="com.oukele.dao"/>
    </bean>

</beans>