<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--项目名-->
    <display-name>Fruits-server-api</display-name>

    <!--配置spring容器-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-root.xml</param-value>
    </context-param>
    <listener>
        <!--上下文环境侦听器-->
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--配置springMVC容器-->
    <servlet>
        <servlet-name>webs</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-web.xml</param-value>
        </init-param>
        <multipart-config>
            <!--上传文件的大小限制，比如下面表示 5 M-->
            <max-file-size>5242880</max-file-size>
            <!--一次表单提交中文件的大小限制，必须下面代表 10 M -->
            <max-request-size>10485760</max-request-size>
            <!-- 多大的文件会被自动保存到硬盘上。0 代表所有 -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <!--将所有请求拦截下来，交给spring mvc 处理-->
    <servlet-mapping>
        <servlet-name>webs</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--汉字编码问题-->
    <filter>
        <filter-name>setEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>