<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oukele.dao.SaleMapper">
  <resultMap id="BaseResultMap" type="com.oukele.model.Sale">
    <id column="sale_id" jdbcType="INTEGER" property="saleId" />
    <result column="sale_datetime" jdbcType="TIMESTAMP" property="saleDatetime" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sale
    where sale_id = #{saleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oukele.model.Sale">
    insert into sale (sale_id, sale_datetime, order_id
      )
    values (#{saleId,jdbcType=INTEGER}, #{saleDatetime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oukele.model.Sale">
    update sale
    set sale_datetime = #{saleDatetime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=INTEGER}
    where sale_id = #{saleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sale_id, sale_datetime, order_id
    from sale
    where sale_id = #{saleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sale_id, sale_datetime, order_id
    from sale
  </select>
</mapper>